<a href="https://colab.research.google.com/github/mdanyassri/Project-140/blob/main/Project_140.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.10.8)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [22]:
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"mdanyassri","key":"c5da6c8d48aa16398d34e95e13ab466c"}'}

In [23]:
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

!chmod 600 ~/.kaggle/kaggle.json

In [24]:
!kaggle datasets download -d gspmoreira/articles-sharing-reading-from-cit-deskdrop

Downloading articles-sharing-reading-from-cit-deskdrop.zip to /content
 61% 5.00M/8.20M [00:00<00:00, 48.3MB/s]
100% 8.20M/8.20M [00:00<00:00, 49.9MB/s]

In [25]:
!ls

articles-sharing-reading-from-cit-deskdrop.zip	kaggle.json  sample_data

In [26]:
!unzip articles-sharing-reading-from-cit-deskdrop.zip

Archive:  articles-sharing-reading-from-cit-deskdrop.zip
  inflating: shared_articles.csv
  inflating: users_interactions.csv

In [27]:
!ls

articles-sharing-reading-from-cit-deskdrop.zip	shared_articles.csv
kaggle.json					users_interactions.csv
sample_data

In [28]:
import pandas as pd 
import numpy as np 

df1=pd.read_csv('shared_articles.csv')
df2=pd.read_csv('users_interactions.csv')

In [29]:
df1.head(3)

    timestamp  ... lang
0  1459192779  ...   en
1  1459193988  ...   en
2  1459194146  ...   en

[3 rows x 13 columns]

In [30]:
df2.head(3)

    timestamp eventType  ...  userRegion  userCountry
0  1465413032      VIEW  ...         NaN          NaN
1  1465412560      VIEW  ...          NY           US
2  1465416190      VIEW  ...         NaN          NaN

[3 rows x 8 columns]

In [31]:
df1 = df1[df1['eventType'] == 'CONTENT SHARED']
df1.head(3)

    timestamp  ... lang
1  1459193988  ...   en
2  1459194146  ...   en
3  1459194474  ...   en

[3 rows x 13 columns]

In [32]:
df2.shape

(72312, 8)

In [33]:
df1.shape

(3047, 13)

In [34]:
def find_total_events(df1_row):
  total_likes = df2[(df2["contentId"] == df1_row["contentId"]) & (df2["eventType"] == "LIKE")].shape[0]
  total_views = df2[(df2["contentId"] == df1_row["contentId"]) & (df2["eventType"] == "VIEW")].shape[0]
  total_bookmarks = df2[(df2["contentId"] == df1_row["contentId"]) & (df2["eventType"] == "BOOKMARK")].shape[0]
  total_follows = df2[(df2["contentId"] == df1_row["contentId"]) & (df2["eventType"] == "FOLLOW")].shape[0]
  total_comments = df2[(df2["contentId"] == df1_row["contentId"]) & (df2["eventType"] == "COMMENT CREATED")].shape[0]
  return total_likes + total_views + total_bookmarks + total_follows + total_comments

df1["total_events"] = df1.apply(find_total_events, axis=1)
df1.head(3)

    timestamp       eventType  ...  lang  total_events
1  1459193988  CONTENT SHARED  ...    en             1
2  1459194146  CONTENT SHARED  ...    en             1
3  1459194474  CONTENT SHARED  ...    en            13

[3 rows x 14 columns]

In [35]:
df1 = df1.sort_values(['total_events'], ascending=[False])
df1.head(3)

       timestamp       eventType  ...  lang  total_events
3096  1487246811  CONTENT SHARED  ...    en           433
1671  1467813728  CONTENT SHARED  ...    pt           315
1814  1468867647  CONTENT SHARED  ...    pt           294

[3 rows x 14 columns]

In [36]:
def convert_lowercase(x):
  if isinstance(x, str):
      return x.lower()
  else:
      return ''

df1["title"] = df1["title"].apply(convert_lowercase)

df1.head()

       timestamp       eventType  ...  lang  total_events
3096  1487246811  CONTENT SHARED  ...    en           433
1671  1467813728  CONTENT SHARED  ...    pt           315
1814  1468867647  CONTENT SHARED  ...    pt           294
1317  1465484901  CONTENT SHARED  ...    en           294
588   1461629452  CONTENT SHARED  ...    pt           281

[5 rows x 14 columns]

In [37]:
from sklearn.feature_extraction.text import CountVectorizer
count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(df1['title'])

In [38]:
from sklearn.metrics.pairwise import cosine_similarity
cosine_sim2 = cosine_similarity(count_matrix, count_matrix)

In [39]:
df1 = df1.reset_index()
indices = pd.Series(df1.index, index=df1['contentId'])

In [40]:
def get_recommendations(contentId, cosine_sim):
    idx = indices[contentId]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:11]
    movie_indices = [i[0] for i in sim_scores]
    return df1['contentId'].iloc[movie_indices]

In [41]:
get_recommendations(-4029704725707465084, cosine_sim2)

817      174707786647990372
698     5087084654882097891
86      5338677278233757627
181     7088167897470452815
209     4118743389464105405
1109    4625350031392752392
1284   -5679427141235752819
1862     -39485845307123560
2632    8298709454703868984
319    -6245566021053602636
Name: contentId, dtype: int64